<div class="feed-toggle">
    <ul class="nav nav-pills outline-active">
        <li *ngIf="isLoggedIn$ | async" class="nav-item">
            <a
                [routerLink]="['/feed']"
                class="nav-link"
                routerLinkActive="active"
            >
                Your Feed
            </a>
        </li>

        <li class="nav-item">
            <a
                [routerLink]="['/']"
                class="nav-link"
                routerLinkActive="active"
            >
                Global Feed
            </a>
        </li>

        <li *ngIf="tagNameProps" class="nav-item">
            <a
                [routerLink]="['/tags', tagNameProps]"
                class="nav-link"
                routerLinkActive="active"
            >
                # {{ tagNameProps }}
            </a>
        </li>
    </ul>
</div>